body{
  background-color: azure;
}
.hidden{
  display: none;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.img{
  text-align: center;
}
#result{
  text-align: center;
}
img{
  max-width: 15%;
}
